body{ background:#fff;}
.w_100_l{ width:100%; height:auto; display:inline; float:left;}
.top_title{ background:url(../images/top_title_bg.jpg) 0 0 repeat-x; height:42px;}
.top_title .main p{ width:100%; height:42px; display:inline; text-align:center; float:left;}
.top_title .main p a{ font:12px/42px Arial, "微软雅黑"; color:#fff; text-decoration:underline;}
.top_title .main p a:hover{ opacity:0.7;}


.main{ width:960px; height:auto; margin:0 auto;}
.top_banner{ width:100%; height:auto; display:inline; float:left; position:relative;}
.top_logo{ width:246px; height:67px; display:inline; float:left; overflow:hidden; margin-top:25px;}
.top_logo img{ width:auto; height:auto; display:inline; float:left;}
.top_menu{ width:460px; height:auto; display:inline; float:left; margin-left:30px;}
.top_menu ul{ width:100%; height:auto; display:inline; float:left;}
.top_menu ul li{ padding:15px 5px 3px; margin-left:10px; float:right; background:#fff; border-bottom:1px solid #fff;}
.top_menu ul li a{ font:13px/20px Arial, Helvetica, sans-serif; color:#333; text-decoration: none;}
.top_menu ul li:hover,.top_menu ul li.sel{ border-bottom:1px solid #bcb79c; background:#f6f5ea;}

.top_shop_cur{ width:79px; height:50px; display:inline;position:absolute; top:30px; right:10px; z-index:100;}
.top_shop_cur img{ width:auto; height:auto; display:inline; float:left;}
.index_img{ width:940px; height:300px; display:inline; float:left; margin-left:10px; margin-top:20px;}
.index_hr{ width:940px; border-bottom:5px solid #f2f1e2; float:left; margin-top:35px; margin-left:10px;}
.content{ width:940px; height:auto; display:inline; float:left; overflow:hidden; margin-left:10px;}
.h1_book_title{ width:940px; height:30px; margin:30px 0 10px 10px; font:15px/30px "微软雅黑"; color:#998a62;}
.content .books ul{ width:940px; height:auto; float:left; overflow:hidden;}
.content .books ul li{ width:300px; height:auto; display:inline; overflow:hidden; float:left; margin-right:10px; margin-bottom:30px;}
.content .books ul li dd{ width:100px; height:154px; display:inline; float:left; margin-right:10px;}
.content .books ul li dt{ width:190px; height:auto; display:inline; float:left;}
.content .books ul li dt .book_title{ width:190px; font:16px/25px Arial; color:#eb4c89;}
.content .books ul li dt .book_title a{ text-decoration:none; color:#eb4c89;}
.content .books ul li dt .book_inline{ width:190px; font:12px/25px Arial; color:#998f77; margin-bottom:10px;}
/* .content ul li dt .book_buy{ border:1px solid #64991e; background:#7DB72F; background-image:linear-gradient(#7DB72F, #4E7D0E); padding:5px 8px; text-decoration:none; color:#fff;
 border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
 box-shadow:0 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);-o-box-shadow:0 1px 2px rgba(0,0,0,0.1); display:inline; text-transform:uppercase; letter-spacing:0.1em;
} */
.content .books ul li dt .book_buy .buy_num{ border: 1px solid #999; border-radius: 10%; padding:1% 2%; font:14px/25px Arial;}
.content_press{ width:940px; height:auto; display:inline; float:left; margin-left:10px; margin-top:20px;}
.content_press .press_porsen_01{ width:470px; height:auto; display:inline; float:left;}
.content_press .press_porsen_01 h1{ width:470px; height:25px; font:14px/25px Arial, Helvetica, sans-serif; color:#997e11; text-transform:uppercase; font-weight:500;}
.content_press .press_porsen_01 dl{ width:470px; height:auto; display:inline; float:left; overflow:hidden;}
.content_press .press_porsen_01 dl dd{ width:90px; height:90px; display:inline; float:left; overflow:hidden; margin-right:10px;}
.content_press .press_porsen_01 dl dt{ width:370px; height:auto; display:inline; float:left;}
.content_press .press_porsen_01 dl dt .date, .press_porsen_02 dt .date{ font:12px/25px Arial, Helvetica, sans-serif; color:#8893b0; text-transform:uppercase;}
.content_press .press_porsen_01 dl dt .book_title, .press_porsen_02 dt .book_title{ font:16px/25px Arial, Helvetica, sans-serif; color:#ea4c89;}
.content_press .press_porsen_01 dl dt .book_title a , .press_porsen_02 dt .book_title a{ color:#ea4c89; text-decoration:none;}
.content_press .press_porsen_01 dl dt .book_title a:hover, .press_porsen_02 dt .book_title a:hover{ color:#997e11;}
.content_press .press_porsen_01 dl dt .book_intro,.press_porsen_02 dt .book_intro{ font:12px/20px Arial, Helvetica, sans-serif; color:#333;}
.content_press .press_porsen_01 dl dt .book_intro a,.press_porsen_02 dt .book_intro a{ color:#ea4c89;}
.content_press .press_porsen_01 dl dt .book_intro a:hover,.press_porsen_02 dt .book_intro a:hover{ color:#997e11;}
.press_porsen_02{ width:460px; height:auto; display:inline; float:right;}
.press_porsen_02 h1{ width:460px; height:25px; display:inline; float:left; font:12px/25px Arial, Helvetica, sans-serif; text-transform:none; text-align:right;}
.press_porsen_02 h1 .span_1{ width:auto; padding-left:13px; background:url(../images/icon_tel.jpg) left center no-repeat; margin-left:10px; float:right;}
.press_porsen_02 h1 .span_2{ float:right; margin-left:15px;}
.press_porsen_02 h1 span a{ color:#f15c89;}
.press_porsen_02 dd{ width:90px; height:90px; text-align:center; float:left; display:inline; overflow:hidden; margin-right:10px;}
.press_porsen_02 dt{ width:360px; height:auto; display:inline; float:left;}

.news_title{ width:940px; height:25px; float:left; margin-top:25px; margin-left:10px; font:14px/25px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#997e45;}
.news_title_1{ width:940px; height:25px; float:left; margin-left:10px;}
.news_title_1 .span_1{ font:12px/25px Arial, Helvetica, sans-serif; color:#333; float:left;}
.news_title_1 .span_2{ width:294px; height:33px; display:inline; float:right; margin-right:20px;}
.footer{ width:940px; height:50px; display:inline; float:left; margin-left:10px;font:12px/50px Arial, Helvetica, sans-serif; padding-top:5px;}
.footer a{ color:#f57389; float:left; margin-left:15px;}
.footer .span_1{ width:auto; height:50px; color:#666; float:left;}
.footer a.a1{ padding-left:15px; background:url(../images/icon_tel.jpg) left center no-repeat;}
.footer a.a2{ padding-left:15px; background:url(../images/icon_bird.jpg) left center no-repeat;}
.footer .span_2{ width:auto; height:50px; float:right; margin-right:20px;font:12px/50px Arial, Helvetica, sans-serif;}
.footer .span_2 b{ font:12px/50px Arial, Helvetica, sans-serif; color:#666; float:left;}
.footer .span_2 img{ float:left;}


.book_img {width: 100px; height: 148px;}

.book_buy .default {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #F7F5DD;
    width: 100px;
    height: 30px;
    background-color: #E2979C;
    border: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 8px;
    margin: 0 8px 8px 0;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }

/*弹出框*/
.popup__container {
    max-width: 65%;
    padding: 1em;
    background: #eee;
    display: none;
    position: relative;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    color: #000;
}

.pop_close {
    cursor: pointer;
    right: 5px;
    top: 5px;
    position: absolute;
    background: #222;
    color: #fff;
    border-radius: 100%;
    font-size: 14px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    width: 24px;
}

.popup__content .pop_top {
  display: flex;
  flex-direction: row;
}

.popup__content .pop_left .pop_img {
  width: 200px;
  height: 308px;
  border-radius: 3%;
  margin: 0 0 10% 0;
}

.popup__content .pop_right {
  margin: 5% 0 0 5%;
}

.popup__content .pop_right .pop_title {
  font-size: 24px;
  color: #eb4c89;
  margin-bottom: 5px;
}

.popup__content .pop_right .pop_inline,
.pop_bottom .pop_inline {
  font: 18px/25px Arial; 
  color:#998f77; 
  margin-bottom: 10px;
}

.pop_bottom .pop_content {
  font: 16px/24px Arial; 
  color:#999;
  margin: 2% 1% 2% 1%;
}

/*登录*/
.form-horizontal {
    background-color: #fff;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    padding: 50px 30px 50px;
}

.form-horizontal .heading {
    color: #555;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 50px 0;
}


.form-horizontal .form-group {
    margin: 0 auto 30px;
    position: relative;
}

.form-horizontal .form-group:nth-last-child(2) {
    margin-bottom: 20px;
}

.form-horizontal .form-group:last-child {
    margin: 0;
}

.form-horizontal .form-group > i {
    color: #999;
    transform: translateY(-50%);
    position: absolute;
    left: 5px;
    top: 50%;
}

.form-horizontal .form-control {
    color: #7AB6B6;
    background-color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    height: 40px;
    padding: 5px 10px 2px 25px;
    box-shadow: 0 0 0 0 transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    display: inline-block;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.form-horizontal .form-control:focus {
    border-bottom: 1px solid #7AB6B6;
    box-shadow: none;
}

.form-horizontal .btn {
    color: #7AB6B6;
    background-color: #EDF6F5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 50%;
    height: 45px;
    padding: 7px 30px;
    margin: 0 auto 25px;
    border: none;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

.form-horizontal .btn:focus,
.form-horizontal .btn:hover {
    color: #fff;
    background-color: #7AB6B6;
}

.form-horizontal .btn:before,
.form-horizontal .btn:after {
    content: '';
    background-color: #7AB6B6;
    height: 50%;
    width: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s;
}

.form-horizontal .btn:after {
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
}

.form-horizontal .btn:hover:before,
.form-horizontal .btn:hover:after {
    height: 100%;
    width: 50%;
    opacity: 0;
}

.form-horizontal .create_account {
    color: #D6BC8B;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

.form-horizontal .create_account:hover {
    color: #7AB6B6;
    text-decoration: none;
}